#title{
    background-color:cyan;
    
    color: #fff;
    margin-bottom: 5%;
  color:black ;
 text-align: center; 
}
 body 
  
  
  h1{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:3.5rem ;
    line-height:1.5 ;
    }
    h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif; ;
    font-size:3.5rem ;
    line-height:1.5 ;
    }
    
    .sector {
     background-color:grey ; 
    margin-left: 70%;
    }  
    
    
    
    .container-fluid{
     padding:3% 15% ;   
    }
    /* .navbar-brand */
    .navbar{
    padding-bottom:0 0 4.5rem;
    
    }
    
    
    
    .navbar-brand{
     font-family: "ubuntu";   
    font-size:larger;
    font-weight: bolder;
    color: black;
  }
    .nav-item{
     padding:0 18px;
       
    }
    
    .navbar{
      padding-bottom: 4.5rem;
    }
    .nav-link{
    font-size: 1.2rem; 
    }
    /* title image */
     .title-image{
      width: 380px;
     height: 400px;
    padding-bottom:5% ;
    }
    /* features section */
    #features{
      padding-bottom:5%;
    text-align: center;
    }
    h3{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    p{
      color: #8f8f8f; ;
    }
    
    /* testimonial */
    #testimonials{
    
  
    background-color:cyan;
    color: #fff;
    }
    .testimonial-image{
    width: 250px;
    padding: 10% ;
    }
    #press{
      background-color:grey; 
    text-align: center;
    padding-top:3%;
    }
    .press-logo{
      width: 15%;
    margin: 20px 20px 50px ;
    }
    /* pricing section */
    #pricing{
      padding: 100px;
    text-align: center;
    }
    .price{
      padding: 3% 2%;
    }
    /* CTA section */
    #cta{
      background-color:grey;
    color: #fff;
    padding:7% 15%;
    text-align: center;
    margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
    .cta-heading{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    
    }
    #footer{
     padding:7% 15% ; 
    text-align: center ;
    }
    
    
    
    
    
    
    












































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































